#container {
    position: absolute;
    text-align: center;
    width: 90%;
    height: 600px;
    border: 10px solid olive;
    font-size: 1.5rem;
}

#start {
    background-color: indigo;
    padding: 5px 20px;
    font-size: 20px;
    color: white;
}

#quizDiv {
    margin: 50px;
}

#timer {
    font-size: 2rem;
    font-weight: bold;
}

li {
    background-color: indigo;
    margin: 5px 0 0 -40px;
    font-size: 20px;
    color: white;
}